:root{
    --color-primary: #222A35;
    --color-secondary: #1C222E;
    --color-accent-light: #39AFC9;
    --color-accent-light-opacity: rgba(57, 175, 201, 0.3);
    --color-accent-dark: #29313C;
    --color-text-grey: #636971;

    --font-primary: 'Montserrat', sans-serif;
    --font-title: 'Nunito Sans', sans-serif;
    --font-main: 'Merriweather', serif;
}

.navbar-about{
    position: absolute;
    background: transparent;
}
.about-hero{
    background-image: url("../img/about-me-hero.png");
    background-size: cover;
    background-position: 75% 25%;
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-hero::after{
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(34,42,54);
    background: linear-gradient(180deg, rgba(34,42,54,1) 0%, rgba(34,42,54,1) 0%, rgba(28,35,46,0.35) 100%);
    position: absolute;
    top: 0;
    left: 0;
}
.about-hero h1{
    font-size: 5rem;
    color: white;
    z-index: 1;
    font-family: var(--font-title);
    font-weight: 900;
}
.about-hero h1 span{
    color: var(--color-accent-light);
}

.about-me-container{
    display: flex;
    width: 65%;
    margin-left: 35%;
    margin: 10% 0 10% 35%;
    position: relative;
    align-items: center;
}

.img-wrapper{
    width: 400px;
    position: absolute;
    left: -15%;
    bottom: 15%;
}
.img-wrapper img{
    width: 100%;
}
.about-me-container .about-me-body{
    padding: 5%;
    padding-left: 25%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 600px;
    background: var(--color-accent-light);
}
.about-me-body h2{
    font-family: var(--font-title);
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--color-secondary);
    margin-bottom: 15px;
}
.about-me-body p{
    width: 80%;
    margin: 20px 0;
    font-family: var(--font-main);
    font-size: 1.25rem;
}

/* Why do you need a website? */

.why-container{
    width: 80%;
    margin: 5% auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.why-container .why-card{
    width: 30%;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}
.why-card h3{
    font-size: 1.75rem;
    font-family: var(--font-title);
    margin: 15px 0;
}
.why-card p{
    font-size: 1.1rem;
    font-family: var(--font-main);
    color: #afafaf;
}