*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #222A35;
    --color-secondary: #1C222E;
    --color-accent-light: #39AFC9;
    --color-accent-light-opacity: rgba(57, 175, 201, 0.3);
    --color-accent-dark: #29313C;
    --color-text-grey: #636971;

    --font-primary: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}
body{
    background: var(--color-primary);
    font-family: var(--font-primary);
    color: white;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: unset;
}

ul {
    list-style: none;
}

/* Page Loading Animation */

.loading-spinner{
    width: 100%;
    height: 100%;
    background: var(--color-primary);
    position: fixed;
    text-align: center;
    z-index: 99;
    opacity: 1;
    transition: all 1s ease;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid var(--color-accent-light);
    top: 50%;
    animation: loader 2s infinite ease;
  }
  
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: var(--color-accent-light);
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  }

/* Scroll Animation */

.section-animate{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all .7s ease;
}
.section-active{
    transform: translateY(0);
    opacity: 1;
}

/* Navigation */

.navbar{
    width: 100%;
    padding: 2% 0;
    background: var(--color-primary);
    z-index: 5;
}
.navbar-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}
.navbar-container .logo img{
    max-width: 200px;
}
.nav-links{
    display: flex;
    justify-content: end;
    align-items: center;
}
.nav-links ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-links ul li{
    font-family: var(--font-primary);
    color: var(--color-text-grey);
    font-size: 1.25rem;
    margin: 0 25px;
}
.nav-links ul li a:hover{
    color: white
}

/* Navigation - Mobile */

.burger{
    position: fixed;
    display: none;
    right: 5%;
    z-index: 2;
    width: 45px;
    height: 45px;
    padding: 5px;
    border-radius: 50%;
    background: var(--color-accent-light);
    cursor: pointer;
    z-index: 51;
}
.icon-burger{
    width: 65%;
    height: 65%;
    margin: 17.5%;
    color: white;
}
.sidebar{
    padding: 25px 0;
    background: var(--color-accent-light);
    position: fixed;
    top: calc(100% + 10px);
    width: 60%;
    top: 0;
    height: 100vh;
    z-index: 50;
    right: 0;
    display: none; 
    transform: translateX(100%);
}
.sidebar-links{
    margin: 1% 0;
    justify-content: center;
    align-items: flex-end;
    text-align: end;
    margin-top: 25%;
}
.sidebar-links ul li{
    font-family: var(--font-primary);
    font-size: 1.25rem;
    text-transform: uppercase;
    margin: 25px;
}
.sidebar-links ul li a{
    color: var(--color-secondary);
}
.sidebar-links ul li a:hover{
    color: white
}

/* Hero Section */

.hero-container{
    width: 100%;
    padding: 15% 0 15% 0;
    z-index: 1;
    overflow: hidden;
    position: relative;
}
.hero-tooltip{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10%;
    color: var(--color-text-grey);
    text-transform: lowercase;
    font-size: 1.25rem;
    right: 0;
    width: 35%;
    right: 15%;
    text-align: center;
}
.hero-tooltip ion-icon{
    width: 25px;
    height: 25px;
}
.hero-container .hero-right .img-wrapper{
    position: absolute;
    left: 15%;
    bottom: 0;
    max-width: 35%;
}
.hero-container .hero-right .img-wrapper img{
    max-width: 90%;
}
.hero-container .hero-text{
    font-family: var(--font-primary);
    width: 35%;
    margin-left: 50%;
}
.hero-container .hero-text #greeting{
    font-size: 1.25rem;
}
.hero-container .hero-text #name{
    font-size: 4.25rem;
    font-weight: 700;
}
.hero-container .hero-text #position{
    font-size: 2rem;
    font-weight: 400;
    margin: 3% 0 0 0;
}
.hero-container .hero-text .cta-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0;
}
.hero-container .hero-text .cta-container .cta{
    background: var(--color-accent-light);
    width: 47.5%;
    height: 65px;
    line-height: 65px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    /* border-radius: 37.5px; */
    border: 1px solid var(--color-accent-light);
    font-size: 1.25rem;
}
.hero-container .hero-text .cta-container .cta:hover{
    transition: .5s ease-in-out;
    background: var(--color-accent-light-opacity);
    color: var(--color-accent);;
}
#btn-download{
    background: transparent;
}
#btn-download:hover{
    transition: .5s ease-in-out;
    background: var(--color-accent-light-opacity);
}

.section-container{
    font-family: var(--font-primary);
    width: 40%; 
    margin: 1% auto;
    text-align: center;
}
.section-container .section-subtitle{
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}
.section-container .section-title{
    text-transform: uppercase;
    color: var(--color-accent-light);
    font-size: 3rem;
    margin-bottom: 2.5%;
}

/* About Section */

#about{
    background: var(--color-secondary);
    padding: 2.5% 0;
}
.about-container{
    font-family: var(--font-primary);
    display: flex;
    width: 70%;
    margin: 7.5% auto;
    justify-content: center;
}
.about-container .img-wrapper{
    max-width: 40%;
    align-self: center;
    object-fit: contain;
    position: relative;
    z-index: 2;
}
.about-container .img-wrapper img{
    width: 100%;
    height: auto !important;
}
.about-container .img-wrapper::before{
    position: absolute;
    left: 25px;
    bottom: 25px;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 10px solid var(--color-accent-light);
    z-index: -1;
    content: '';
}
.about-container .about-content{
    width: 100%;
    margin-right: 10%;
}
.about-container .about-content #about-name{
    font-size: 4rem;
    font-weight: 600;
    color: var(--color-accent-light);
    text-decoration: underline;
}
.about-container .about-content #about-position{
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 0 2.5% 0;
}
.about-container .about-content p{
    margin: 2.5% 0;
    font-size: 1.25rem;
    color: var(--color-text-grey);
}
.btn-wrapper{
    margin-top: 7.5%;
}
.about-container .about-content #btn-download{
    margin-top: 10%;
    background: var(--color-accent-light);
    padding: 20px 90px;
    /* border-radius: 50px; */
    text-transform: uppercase;
    font-size: 1.15rem;
}
.about-container .about-content #btn-download:hover{
    transition: .5s ease-in-out;
    background: var(--color-accent-light-opacity);
}

/* Services */

#services-title{
    margin: 5% auto 15% auto;
}
.services-bg{
    padding-top: 20%;
    background: var(--color-primary);
    width: 100%;
    position: relative;
}
.services-container{
    width: 70%;
    position: absolute;
    top: -200px;
    right: 15%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.services-container .service-card{
    width: 25%;
    height: 400px;
    margin: 0 1%;
    background: var(--color-accent-dark);
    padding: 2.5% ;
    transition: all .5s ease;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.services-container .service-card ion-icon{
    width: 100px;
    height: 100px;
    margin-top: 10%;
}
.services-container .service-card:hover{
    background: var(--color-accent-light);
    transform: scale(1.15);
}
.service-card h4{
    text-align: center;
    font-size: 2rem;
    width: 90%;
    font-weight: 400;
    margin: 5% auto
}

/* Templates & Designs */

#designs, #twitter{
    padding-top: 3%;
}
.designs-container{
    width: 70%;
    margin: 5% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.designs-container .design-card{
    width: 500px;
    height: 500px;
    border: 1px solid var(--color-accent-light);
    margin: 0 2.5%;
    display: flex;
    flex-flow: column;
    position: relative;
    align-items: center;
    transition: all .5s ease;
    justify-content: center;
}
.design-card h3{
    color: var(--color-accent-light);
    font-size: 2rem;
    font-weight: 500;
    text-decoration: underline;
}
.design-card .card-details{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    opacity: 0;
    flex-flow: column;
    align-items: center;
    background: rgba(57, 175, 201, 0.75);
    transition: all .5s ease;
    justify-content: center;
}
.design-card .card-details a{
    width: 250px;
    height: 50px;
    color: white;
    text-transform: uppercase;
    background: black;
    text-align: center;
    line-height: 50px;
}
.designs-container .design-card:hover{
    padding: 5%;
}
.designs-container .design-card:hover > .card-details{
    opacity: 1;
}
.design-card .img-wrapper {
    width: 90%;
}
.design-card .img-wrapper img{
    width: 100%;
}

/* Projects */

.projects-container{
    width: 70%;
    margin: 5% auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 550px;
}
.project-card{
    width: 50%;
    height: 100%;
    margin: 0 2.5%;
    border: 1px solid var(--color-accent-light);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
    position: relative;
}
.project-card:first-child{
    width: 20%;
    margin-left: 0;
}
.card-row{
    height: 100%;
    margin-left: 2.5%;
    border: 1px solid var(--color-accent-light);
    width: 20%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border: none;
}
.card-row .project-card{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 45%;
    width: 100%;
    border: 1px solid var(--color-accent-light);
}
.project-card .img-wrapper img{
    width: 100%;
}

.project-card .card-details{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    opacity: 0;
    flex-flow: column;
    align-items: center;
    background: rgba(57, 175, 201, 0.75);
    transition: all .5s ease;
    justify-content: center;
}
.project-card .card-details a{
    width: 90%;
    max-width: 250px;
    height: 50px;
    color: white;
    text-transform: uppercase;
    background: black;
    text-align: center;
    line-height: 50px;
}
.project-card:hover{
    padding: 5%;
}
.project-card:hover > .card-details{
    opacity: 1;
}

/* Work Process */

.process-container{
    width: 70%;
    margin: 5% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.process-container .process-card{
    width: 20%;
    height: 400px;
    border: 1px solid var(--color-accent-light);
    padding: 5% 0;
    display: flex;
    flex-flow: column;
    background: var(--color-accent-dark);
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.process-card h2, .process-card h4{
    text-transform: uppercase;
    font-size: 1.5rem;
}
.process-card h4{
    font-size: 1rem;
    font-weight: 400;
    margin: 5% 0;
}
.process-card p{
    width: 90%;
    margin: 5% auto;
    font-size: .9rem;
}
.process-card ion-icon{
    width: 75px;
    height: 75px;
}
.process-span{
    color: var(--color-accent-light);
}

/* Twitter */

.twitter-container{
    background-image: url('../img/twitter-banner.jpg');
    background-size: cover;
    width: 100%;
    position: relative;
    z-index: 0;
    font-family: var(--font-primary);
}
.container-darken{
    display: none;
    position: absolute;
    background: #000;
    opacity: 0.7;
    width: 100%;
    top: 0;
    z-index: -1;
    left: 0;
    height: 100%;
}
.twitter-container .twitter-content{
    width: 35%;
    margin-left: 15%;
    color: white;
    padding: 5% 0;
}
.twitter-container .twitter-content h1{
    font-size: 2rem;
    margin: 1% 0;
}
.twitter-container .twitter-content p{
    width: 80%;
    margin-bottom: 5%;
}
.twitter-container .twitter-content a{
    border: 1px solid white;
    /* border-radius: 15px; */
    padding: 15px 50px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}
.icon-twitter{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.twitter-container .twitter-content a:hover{
    transition: all .25s ease-in-out;
    background: white;
    color: var(--color-accent-light)
}

/* Contact */

.contact-container{
    width: 70%;
    margin: 10% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-container .contact-icon{
    width: 30%;
    margin-right: 5%;
}
.contact-icon img{
    width: 100%;
}
.contact-container .contact-info{
    width: 50%;
    margin-left: 5%;
}
.contact-container .contact-info h2{
    color: var(--color-accent-light);
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 5%;
}
.contact-container .contact-info p{
    font-size: 1.25rem;
}
.contact-container .contact-info .btn-wrapper{
    width: 47.5%;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    text-align: center;
    /* border-radius: 37.5px; */ 
    border: 1px solid var(--color-accent-light);
    transition: all .5s ease;
    font-size: 1.25rem;
}
.contact-container .contact-info .btn-wrapper:hover{
    background: var(--color-accent-light-opacity);
}

.btn-backtotop{
    width: 20px;
    height: 20px;
    background: var(--color-accent-light);
    border-radius: 50%;
    padding: 15px;
    color: white;
    position: fixed;
    bottom: 5%;
    right: 5%;
    cursor: pointer;
    z-index: 98;
    display: none;
}
.btn-visible{
    display: block;
}